/.idea/libraries/Gradle__androidx_viewpager_viewpager_1_0_0_aar.xml
/.idea/libraries/Gradle__de_hdodenhof_circleimageview_3_1_0_aar.xml
/.idea/modules/app/Celex_Rider_App.app.iml
/.idea/modules/Celex_Rider_App.iml
/.idea/misc.xml
/new 17.txt
/app/build/generated/res/pngs/debug/drawable-anydpi-v21/ic_traffic_sign.xml
/app/build/generated/res/pngs/debug/drawable-hdpi/ic_rider_home_icon_01.png
/app/build/generated/res/pngs/debug/drawable-mdpi/ic_document.png
/app/build/generated/res/pngs/debug/drawable-xhdpi/ic_arrow_back.png
/app/build/generated/res/pngs/debug/drawable-xhdpi/ic_three_dot.png
/app/build/generated/res/pngs/debug/drawable-xxhdpi/ic_send.png
/app/build/generated/res/pngs/debug/drawable-xxhdpi/ic_traffic_sign.png
/app/build/generated/res/pngs/debug/drawable-xxhdpi/ic_vehicle.png
/app/build/generated/res/pngs/debug/drawable-xxxhdpi/ic_traffic_sign.png
/app/build/generated/res/pngs/release/drawable-anydpi-v21/ic_address.xml
/app/build/generated/res/pngs/release/drawable-anydpi-v21/ic_document.xml
/app/build/generated/res/pngs/release/drawable-anydpi-v21/ic_phone_call.xml
/app/build/generated/res/pngs/release/drawable-hdpi/ic_setting.png
/app/build/generated/res/pngs/release/drawable-mdpi/ic_address.png
/app/build/generated/res/pngs/release/drawable-mdpi/ic_call.png
/app/build/generated/res/pngs/release/drawable-mdpi/ic_delete.png
/app/build/generated/res/pngs/release/drawable-xhdpi/ic_call.png
/app/build/generated/res/pngs/release/drawable-xhdpi/ic_history.png
/app/build/generated/res/pngs/release/drawable-xhdpi/ic_switch_off.png
/app/build/generated/res/pngs/release/drawable-xxhdpi/ic_delete.png
/app/build/generated/res/pngs/release/drawable-xxxhdpi/ic_location.png
/app/build/generated/res/pngs/release/drawable-xxxhdpi/ic_upload_image.png
/app/build/intermediates/compressed_assets/debug/out/assets/io/michaelrocks/libphonenumber/android/data/PhoneNumberAlternateFormatsProto_58.jar
/app/build/intermediates/compressed_assets/debug/out/assets/io/michaelrocks/libphonenumber/android/data/PhoneNumberAlternateFormatsProto_352.jar
/app/build/intermediates/compressed_assets/debug/out/assets/io/michaelrocks/libphonenumber/android/data/PhoneNumberMetadataProto_AC.jar
/app/build/intermediates/compressed_assets/debug/out/assets/io/michaelrocks/libphonenumber/android/data/PhoneNumberMetadataProto_BF.jar
/app/build/intermediates/compressed_assets/debug/out/assets/io/michaelrocks/libphonenumber/android/data/PhoneNumberMetadataProto_ET.jar
/app/build/intermediates/compressed_assets/debug/out/assets/io/michaelrocks/libphonenumber/android/data/PhoneNumberMetadataProto_GN.jar
/app/build/intermediates/compressed_assets/debug/out/assets/io/michaelrocks/libphonenumber/android/data/PhoneNumberMetadataProto_IT.jar
/app/build/intermediates/compressed_assets/debug/out/assets/io/michaelrocks/libphonenumber/android/data/PhoneNumberMetadataProto_KI.jar
/app/build/intermediates/compressed_assets/debug/out/assets/io/michaelrocks/libphonenumber/android/data/PhoneNumberMetadataProto_MC.jar
/app/build/intermediates/compressed_assets/debug/out/assets/io/michaelrocks/libphonenumber/android/data/PhoneNumberMetadataProto_NF.jar
/app/build/intermediates/compressed_assets/debug/out/assets/io/michaelrocks/libphonenumber/android/data/PhoneNumberMetadataProto_RW.jar
/app/build/intermediates/compressed_assets/debug/out/assets/io/michaelrocks/libphonenumber/android/data/PhoneNumberMetadataProto_SI.jar
/app/build/intermediates/compressed_assets/debug/out/assets/io/michaelrocks/libphonenumber/android/data/PhoneNumberMetadataProto_TL.jar
/app/build/intermediates/compressed_assets/debug/out/assets/io/michaelrocks/libphonenumber/android/data/PhoneNumberMetadataProto_ZA.jar
/app/build/intermediates/compressed_assets/debug/out/assets/io/michaelrocks/libphonenumber/android/data/ShortNumberMetadataProto_BE.jar
/app/build/intermediates/compressed_assets/debug/out/assets/io/michaelrocks/libphonenumber/android/data/ShortNumberMetadataProto_CM.jar
/app/build/intermediates/compressed_assets/debug/out/assets/io/michaelrocks/libphonenumber/android/data/ShortNumberMetadataProto_IS.jar
/app/build/intermediates/compressed_assets/debug/out/assets/io/michaelrocks/libphonenumber/android/data/ShortNumberMetadataProto_KM.jar
/app/build/intermediates/compressed_assets/debug/out/assets/io/michaelrocks/libphonenumber/android/data/ShortNumberMetadataProto_MS.jar
/app/build/intermediates/compressed_assets/debug/out/assets/io/michaelrocks/libphonenumber/android/data/ShortNumberMetadataProto_NE.jar
/app/build/intermediates/compressed_assets/debug/out/assets/io/michaelrocks/libphonenumber/android/data/ShortNumberMetadataProto_RE.jar
/app/build/intermediates/compressed_assets/debug/out/assets/io/michaelrocks/libphonenumber/android/data/ShortNumberMetadataProto_SH.jar
/app/build/intermediates/compressed_assets/debug/out/assets/io/michaelrocks/libphonenumber/android/data/ShortNumberMetadataProto_SY.jar
/app/build/intermediates/compressed_assets/debug/out/assets/io/michaelrocks/libphonenumber/android/data/ShortNumberMetadataProto_US.jar
/app/build/intermediates/compressed_assets/debug/out/assets/io/michaelrocks/libphonenumber/android/data/ShortNumberMetadataProto_XK.jar
/app/build/intermediates/compressed_assets/release/out/assets/io/michaelrocks/libphonenumber/android/data/PhoneNumberMetadataProto_808.jar
/app/build/intermediates/compressed_assets/release/out/assets/io/michaelrocks/libphonenumber/android/data/PhoneNumberMetadataProto_870.jar
/app/build/intermediates/compressed_assets/release/out/assets/io/michaelrocks/libphonenumber/android/data/PhoneNumberMetadataProto_883.jar
/app/build/intermediates/compressed_assets/release/out/assets/io/michaelrocks/libphonenumber/android/data/PhoneNumberMetadataProto_979.jar
/app/build/intermediates/compressed_assets/release/out/assets/io/michaelrocks/libphonenumber/android/data/PhoneNumberMetadataProto_BD.jar
/app/build/intermediates/compressed_assets/release/out/assets/io/michaelrocks/libphonenumber/android/data/PhoneNumberMetadataProto_BZ.jar
/app/build/intermediates/compressed_assets/release/out/assets/io/michaelrocks/libphonenumber/android/data/PhoneNumberMetadataProto_DO.jar
/app/build/intermediates/compressed_assets/release/out/assets/io/michaelrocks/libphonenumber/android/data/PhoneNumberMetadataProto_ER.jar
/app/build/intermediates/compressed_assets/release/out/assets/io/michaelrocks/libphonenumber/android/data/PhoneNumberMetadataProto_GG.jar
/app/build/intermediates/compressed_assets/release/out/assets/io/michaelrocks/libphonenumber/android/data/PhoneNumberMetadataProto_IR.jar
/app/build/intermediates/compressed_assets/release/out/assets/io/michaelrocks/libphonenumber/android/data/PhoneNumberMetadataProto_MA.jar
/app/build/intermediates/compressed_assets/release/out/assets/io/michaelrocks/libphonenumber/android/data/PhoneNumberMetadataProto_MR.jar
/app/build/intermediates/compressed_assets/release/out/assets/io/michaelrocks/libphonenumber/android/data/PhoneNumberMetadataProto_RU.jar
/app/build/intermediates/compressed_assets/release/out/assets/io/michaelrocks/libphonenumber/android/data/PhoneNumberMetadataProto_SG.jar
/app/build/intermediates/compressed_assets/release/out/assets/io/michaelrocks/libphonenumber/android/data/PhoneNumberMetadataProto_TJ.jar
/app/build/intermediates/compressed_assets/release/out/assets/io/michaelrocks/libphonenumber/android/data/PhoneNumberMetadataProto_VU.jar
/app/build/intermediates/compressed_assets/release/out/assets/io/michaelrocks/libphonenumber/android/data/ShortNumberMetadataProto_BT.jar
/app/build/intermediates/compressed_assets/release/out/assets/io/michaelrocks/libphonenumber/android/data/ShortNumberMetadataProto_BY.jar
/app/build/intermediates/compressed_assets/release/out/assets/io/michaelrocks/libphonenumber/android/data/ShortNumberMetadataProto_CK.jar
/app/build/intermediates/compressed_assets/release/out/assets/io/michaelrocks/libphonenumber/android/data/ShortNumberMetadataProto_HN.jar
/app/build/intermediates/compressed_assets/release/out/assets/io/michaelrocks/libphonenumber/android/data/ShortNumberMetadataProto_IQ.jar
/app/build/intermediates/compressed_assets/release/out/assets/io/michaelrocks/libphonenumber/android/data/ShortNumberMetadataProto_NC.jar
/app/build/intermediates/compressed_assets/release/out/assets/io/michaelrocks/libphonenumber/android/data/ShortNumberMetadataProto_WF.jar
/app/build/intermediates/dex/debug/mergeDexDebug/classes2.dex
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/1l5gi3n3EYcXyTnM14rDLBntBGs=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/_yfp0GdvVzaPJ3rfcjScTEePuJ0=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/PAmaIi+0NjXNEfhppkiIy6vnA2o=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/qqpxwODcv4+nfyiviMqugadpyQY=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/t1CZUQIOuU2snu51pVVBj3BYyz4=
/app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/1byIhHiEATnpSnc32J+OAhnJ+gs=
/app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/33MT+_QIyjZujFejuHCeHn+eV8k=
/app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/aJsttynWSdgqpmLb3fJZnTq2l+g=
/app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/aKv6EBYGZbrNTg41nVZmhO_9q1c=
/app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/aUyPr4gff2cRgnTF_zcDse+Loa4=
/app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/E3PBh1LvkxdvLCOJrgyko4BE4eE=
/app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/g4BYd0Yu4ga6PZ+UmLGIzOtvtKw=
/app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/gflo+9ZcWFMwEH8tAF4kMfwGFGQ=
/app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/ogz8g8bfBicXzYQ+jcVP1mn41kI=
/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-it/values-it.xml
/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-sr/values-sr.xml
/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-sw360dp-v13/values-sw360dp-v13.xml
/app/build/intermediates/incremental/mergeReleaseResources/merged.dir/values-h550dp-port-v13/values-h550dp-port-v13.xml
/app/build/intermediates/incremental/mergeReleaseResources/merged.dir/values-hu/values-hu.xml
/app/build/intermediates/incremental/mergeReleaseResources/merged.dir/values-hy-rAM/values-hy-rAM.xml
/app/build/intermediates/incremental/mergeReleaseResources/merged.dir/values-mk-rMK/values-mk-rMK.xml
/app/build/intermediates/incremental/mergeReleaseResources/merged.dir/values-my/values-my.xml
/app/build/intermediates/incremental/mergeReleaseResources/merged.dir/values-pt-rBR/values-pt-rBR.xml
/app/build/intermediates/incremental/mergeReleaseResources/merged.dir/values-small-v4/values-small-v4.xml
/app/build/intermediates/incremental/release-mergeJavaRes/zip-cache/8HL5WTl5WHWNvDNVglIIm8AXeJw=
/app/build/intermediates/incremental/release-mergeJavaRes/zip-cache/DchKKnWMcXItXpsUGbOqwC2MkOQ=
/app/build/intermediates/incremental/release-mergeJavaRes/zip-cache/g5E6G8iXAuISytH0xC0pFC16KjI=
/app/build/intermediates/incremental/release-mergeJavaRes/zip-cache/gflo+9ZcWFMwEH8tAF4kMfwGFGQ=
/app/build/intermediates/incremental/release-mergeJavaRes/zip-cache/iuAWI4T4oS8_KVqOYph_GYzxO14=
/app/build/intermediates/incremental/release-mergeJavaRes/zip-cache/Q4T3vvVS12oNQ_UojB_WVcvneYQ=
/app/build/intermediates/incremental/release-mergeJavaRes/zip-cache/rVk14zmZ60mNDuJpuop6pB42iuE=
/app/build/intermediates/incremental/release-mergeJavaRes/zip-cache/tMZ_PbF9dss7Z8bE40NHazmhS1c=
/app/build/intermediates/incremental/release-mergeJavaRes/zip-cache/Vmwg0r4YcJ0EddUOaoO_Pxxw6cA=
/app/build/intermediates/incremental/release-mergeJavaRes/zip-cache/xWz2GjF2o3CIMA3u609zULc1wsA=
/app/build/intermediates/incremental/release-mergeNativeLibs/zip-cache/4G661M0wymLRtyIAFc+rfKF6_wE=
/app/build/intermediates/incremental/release-mergeNativeLibs/zip-cache/9Blkw26mrj0zPuO6+xRkl46gwD0=
/app/build/intermediates/incremental/release-mergeNativeLibs/zip-cache/_AEN8uXjbp3GwPE8AwKq6AiwakQ=
/app/build/intermediates/incremental/release-mergeNativeLibs/zip-cache/i2PaYXl8Z5ArORbWizuulUcg8Ms=
/app/build/intermediates/incremental/release-mergeNativeLibs/zip-cache/imu77rEEqXsI2nzID0a1AJ8ivhw=
/app/build/intermediates/incremental/release-mergeNativeLibs/zip-cache/iXNBHSlc5cN3QxnmcMdFiYw9OqU=
/app/build/intermediates/incremental/release-mergeNativeLibs/zip-cache/ODw6+M06sxdSz0U+q_LteiuFdWs=
/app/build/intermediates/incremental/release-mergeNativeLibs/zip-cache/rPpD2bpQvZPtQ_sWHcz+Snw8_e8=
/app/build/intermediates/incremental/release-mergeNativeLibs/zip-cache/ShNo11cnlQValyGPT4Ru4KsgqWo=
/app/build/intermediates/incremental/release-mergeNativeLibs/zip-cache/sj61WT+yFlGXSWti1+xRZdma4YE=
/app/build/intermediates/javac/debug/classes/com/celex/rider/Adapters/VehicleAdapter.class
/app/build/intermediates/javac/debug/classes/com/celex/rider/AllActivitys/Enable_location_A$1.class
/app/build/intermediates/javac/debug/classes/com/celex/rider/AllActivitys/Verify_Otp_A$3.class
/app/build/intermediates/javac/debug/classes/com/celex/rider/AllFragments/Setting_F$1.class
/app/build/intermediates/javac/debug/classes/com/celex/rider/CodeClasses/ApiRequest.class
/app/build/intermediates/javac/debug/classes/com/celex/rider/CodeClasses/Variables.class
/app/build/intermediates/javac/debug/classes/com/celex/rider/Location_Services/GetLocation_Service$2.class
/app/build/intermediates/javac/release/classes/com/celex/rider/Adapters/DocumentHomeAdapter.class
/app/build/intermediates/javac/release/classes/com/celex/rider/Adapters/Pager_Adapter.class
/app/build/intermediates/javac/release/classes/com/celex/rider/AllActivitys/GetStarted_A$1.class
/app/build/intermediates/javac/release/classes/com/celex/rider/AllActivitys/MainActivity$4.class
/app/build/intermediates/javac/release/classes/com/celex/rider/AllFragments/Document/Documents_F.class
/app/build/intermediates/javac/release/classes/com/celex/rider/AllFragments/Document/Transfer_Delivery_F$1.class
/app/build/intermediates/javac/release/classes/com/celex/rider/AllFragments/HomeFragments/Delivered_Order$1.class
/app/build/intermediates/javac/release/classes/com/celex/rider/AllFragments/HomeFragments/Delivered_Order$4.class
/app/build/intermediates/javac/release/classes/com/celex/rider/AllFragments/Profile_F$1.class
/app/build/intermediates/javac/release/classes/com/celex/rider/AllFragments/Setting_F.class
/app/build/intermediates/javac/release/classes/com/celex/rider/CodeClasses/Api_urls.class
/app/build/intermediates/javac/release/classes/com/celex/rider/Users_Chat/Chat_Activity$19.class
/app/build/intermediates/merged_assets/debug/out/io/michaelrocks/libphonenumber/android/data/PhoneNumberMetadataProto_CZ
/app/build/intermediates/merged_assets/debug/out/io/michaelrocks/libphonenumber/android/data/PhoneNumberMetadataProto_DE
/app/build/intermediates/merged_assets/debug/out/io/michaelrocks/libphonenumber/android/data/PhoneNumberMetadataProto_DJ
/app/build/intermediates/merged_assets/debug/out/io/michaelrocks/libphonenumber/android/data/PhoneNumberMetadataProto_DK
/app/build/intermediates/merged_assets/debug/out/io/michaelrocks/libphonenumber/android/data/PhoneNumberMetadataProto_DM
/app/build/intermediates/merged_assets/debug/out/io/michaelrocks/libphonenumber/android/data/PhoneNumberMetadataProto_DO
/app/build/intermediates/merged_assets/debug/out/io/michaelrocks/libphonenumber/android/data/PhoneNumberMetadataProto_UA
/app/build/intermediates/merged_assets/debug/out/io/michaelrocks/libphonenumber/android/data/PhoneNumberMetadataProto_UG
/app/build/intermediates/merged_assets/debug/out/io/michaelrocks/libphonenumber/android/data/ShortNumberMetadataProto_PK
/app/build/intermediates/merged_assets/debug/out/io/michaelrocks/libphonenumber/android/data/ShortNumberMetadataProto_PL
/app/build/intermediates/merged_assets/debug/out/io/michaelrocks/libphonenumber/android/data/ShortNumberMetadataProto_PM
/app/build/intermediates/merged_assets/debug/out/io/michaelrocks/libphonenumber/android/data/ShortNumberMetadataProto_PR
/app/build/intermediates/merged_assets/debug/out/io/michaelrocks/libphonenumber/android/data/ShortNumberMetadataProto_PS
/app/build/intermediates/merged_assets/debug/out/io/michaelrocks/libphonenumber/android/data/ShortNumberMetadataProto_PT
/app/build/intermediates/merged_assets/debug/out/io/michaelrocks/libphonenumber/android/data/ShortNumberMetadataProto_PW
/app/build/intermediates/merged_assets/debug/out/io/michaelrocks/libphonenumber/android/data/ShortNumberMetadataProto_PY
/app/build/intermediates/merged_assets/release/out/io/michaelrocks/libphonenumber/android/data/PhoneNumberMetadataProto_QA
/app/build/intermediates/merged_assets/release/out/io/michaelrocks/libphonenumber/android/data/ShortNumberMetadataProto_MA
/app/build/intermediates/merged_assets/release/out/io/michaelrocks/libphonenumber/android/data/ShortNumberMetadataProto_MC
/app/build/intermediates/merged_assets/release/out/io/michaelrocks/libphonenumber/android/data/ShortNumberMetadataProto_MD
/app/build/intermediates/merged_assets/release/out/io/michaelrocks/libphonenumber/android/data/ShortNumberMetadataProto_ME
/app/build/intermediates/merged_assets/release/out/io/michaelrocks/libphonenumber/android/data/ShortNumberMetadataProto_MF
/app/build/intermediates/merged_assets/release/out/io/michaelrocks/libphonenumber/android/data/ShortNumberMetadataProto_MG
/app/build/intermediates/merged_assets/release/out/io/michaelrocks/libphonenumber/android/data/ShortNumberMetadataProto_MH
/app/build/intermediates/merged_assets/release/out/io/michaelrocks/libphonenumber/android/data/ShortNumberMetadataProto_MK
/app/build/intermediates/merged_assets/release/out/io/michaelrocks/libphonenumber/android/data/ShortNumberMetadataProto_ML
/app/build/intermediates/merged_assets/release/out/io/michaelrocks/libphonenumber/android/data/ShortNumberMetadataProto_MM
/app/build/intermediates/merged_assets/release/out/io/michaelrocks/libphonenumber/android/data/ShortNumberMetadataProto_MN
/app/build/intermediates/merged_assets/release/out/io/michaelrocks/libphonenumber/android/data/ShortNumberMetadataProto_MO
/app/build/intermediates/merged_assets/release/out/io/michaelrocks/libphonenumber/android/data/ShortNumberMetadataProto_MP
/app/build/intermediates/merged_assets/release/out/io/michaelrocks/libphonenumber/android/data/ShortNumberMetadataProto_MQ
/app/build/intermediates/merged_assets/release/out/io/michaelrocks/libphonenumber/android/data/ShortNumberMetadataProto_MR
/app/build/intermediates/merged_assets/release/out/io/michaelrocks/libphonenumber/android/data/ShortNumberMetadataProto_MV
/app/build/intermediates/merged_assets/release/out/io/michaelrocks/libphonenumber/android/data/ShortNumberMetadataProto_MW
/app/build/intermediates/merged_assets/release/out/io/michaelrocks/libphonenumber/android/data/ShortNumberMetadataProto_MX
/app/build/intermediates/merged_assets/release/out/io/michaelrocks/libphonenumber/android/data/ShortNumberMetadataProto_MY
/app/build/intermediates/merged_manifests/release/AndroidManifest.xml
/app/build/intermediates/merged_manifests/release/output-metadata.json
/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-en-rIN.json
/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-et.json
/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-fa.json
/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ldltr-v21.json
/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-mn-rMN.json
/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-sr.json
/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-sv.json
/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-sw300dp-v13.json
/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-sw330dp-v13.json
/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-v25.json
/app/build/intermediates/merged_res_blame_folder/release/out/multi-v2/values.json
/app/build/intermediates/merged_res_blame_folder/release/out/multi-v2/values-h480dp-land-v13.json
/app/build/intermediates/merged_res_blame_folder/release/out/multi-v2/values-large-v4.json
/app/build/intermediates/merged_res_blame_folder/release/out/multi-v2/values-sw480dp-v13.json
/app/build/intermediates/merged_res_blame_folder/release/out/multi-v2/values-th.json
/app/build/intermediates/merged_res_blame_folder/release/out/multi-v2/values-tl.json
/app/build/intermediates/project_dex_archive/debug/out/com/celex/rider/Adapters/DocumentHomeAdapter$ChildViewHolder.dex
/app/build/intermediates/project_dex_archive/debug/out/com/celex/rider/Adapters/OrderDetail_Adapter$CustomViewHolder.dex
/app/build/intermediates/project_dex_archive/debug/out/com/celex/rider/AllActivitys/GetStarted_A$1.dex
/app/build/intermediates/project_dex_archive/debug/out/com/celex/rider/AllFragments/HomeFragments/Home_F.dex
/app/build/intermediates/project_dex_archive/debug/out/com/celex/rider/AllFragments/HomeFragments/Processing_Order$1.dex
/app/build/intermediates/project_dex_archive/debug/out/com/celex/rider/AllFragments/History_F$1.dex
/app/build/intermediates/project_dex_archive/debug/out/com/celex/rider/AllFragments/OrderDetail_F$1.dex
/app/build/intermediates/project_dex_archive/debug/out/com/celex/rider/Users_Chat/Chat_Activity$2.dex
/app/build/intermediates/project_dex_archive/debug/out/com/celex/rider/Users_Chat/Chat_GetSet.dex
/app/build/intermediates/project_dex_archive/release/out/com/celex/rider/AllActivitys/Enable_location_A$1.dex
/app/build/intermediates/project_dex_archive/release/out/com/celex/rider/AllActivitys/GetCancelReason_A$1.dex
/app/build/intermediates/project_dex_archive/release/out/com/celex/rider/AllActivitys/Verify_Otp_A$3.dex
/app/build/intermediates/project_dex_archive/release/out/com/celex/rider/CodeClasses/Api_urls.dex
/app/build/intermediates/project_dex_archive/release/out/com/celex/rider/Users_Chat/Audio/SendAudio$1$1$1.dex
/app/build/intermediates/project_dex_archive/release/out/com/celex/rider/Users_Chat/ViewHolders/Alertviewholder.dex
/app/build/intermediates/res/merged/debug/drawable-anydpi-v21_ic_address.xml.flat
/app/build/intermediates/res/merged/debug/drawable-anydpi-v21_ic_arrow_back.xml.flat
/app/build/intermediates/res/merged/debug/drawable-anydpi-v21_ic_document.xml.flat
/app/build/intermediates/res/merged/debug/drawable-anydpi-v21_ic_wifi.xml.flat
/app/build/intermediates/res/merged/debug/drawable-hdpi_ic_rider_home_icon_01.png.flat
/app/build/intermediates/res/merged/debug/drawable-hdpi_ic_three_dot.png.flat
/app/build/intermediates/res/merged/debug/drawable-hdpi_ic_upload.png.flat
/app/build/intermediates/res/merged/debug/drawable-night_image_placeholder.png.flat
/app/build/intermediates/res/merged/debug/drawable-xxxhdpi_ic_history.png.flat
/app/build/intermediates/res/merged/debug/drawable_d_round_corner_circle.xml.flat
/app/build/intermediates/res/merged/debug/drawable_d_rounded_dialog_right.xml.flat
/app/build/intermediates/res/merged/debug/drawable_icon_show.png.flat
/app/build/intermediates/res/merged/debug/layout_activity_meter_reading.xml.flat
/app/build/intermediates/res/merged/debug/layout_fragment_delivered_order.xml.flat
/app/build/intermediates/res/merged/debug/layout_item_delivery_boy.xml.flat
/app/build/intermediates/res/merged/debug/mipmap-xhdpi_ic_launcher.png.flat
/app/build/intermediates/res/merged/debug/values-ar_values-ar.arsc.flat
/app/build/intermediates/res/merged/debug/values-be_values-be.arsc.flat
/app/build/intermediates/res/merged/debug/values-en-rXC_values-en-rXC.arsc.flat
/app/build/intermediates/res/merged/debug/values-es-rUS_values-es-rUS.arsc.flat
/app/build/intermediates/res/merged/debug/values-et_values-et.arsc.flat
/app/build/intermediates/res/merged/debug/values-gl_values-gl.arsc.flat
/app/build/intermediates/res/merged/debug/values-id_values-id.arsc.flat
/app/build/intermediates/res/merged/debug/values-kk-rKZ_values-kk-rKZ.arsc.flat
/app/build/intermediates/res/merged/debug/values-ldrtl-v17_values-ldrtl-v17.arsc.flat
/app/build/intermediates/res/merged/debug/values-mn-rMN_values-mn-rMN.arsc.flat
/app/build/intermediates/res/merged/debug/values-ta_values-ta.arsc.flat
/app/build/intermediates/res/merged/debug/xml_network_security_config.xml.flat
/app/build/intermediates/res/merged/release/drawable-anydpi-v21_ic_order_history_icon.xml.flat
/app/build/intermediates/res/merged/release/drawable-anydpi-v21_ic_profile.xml.flat
/app/build/intermediates/res/merged/release/drawable-anydpi-v21_ic_upload_image.xml.flat
/app/build/intermediates/res/merged/release/drawable-hdpi_ic_order_history_icon.png.flat
/app/build/intermediates/res/merged/release/drawable-hdpi_ic_setting.png.flat
/app/build/intermediates/res/merged/release/drawable-ldpi_ic_money_icon.png.flat
/app/build/intermediates/res/merged/release/drawable-ldpi_ic_search.png.flat
/app/build/intermediates/res/merged/release/drawable-mdpi_ic_three_dot.png.flat
/app/build/intermediates/res/merged/release/drawable-mdpi_ic_upload.png.flat
/app/build/intermediates/res/merged/release/drawable-xhdpi_ic_upload.png.flat
/app/build/intermediates/res/merged/release/drawable-xxhdpi_ic_call.png.flat
/app/build/intermediates/res/merged/release/drawable-xxxhdpi_ic_upload.png.flat
/app/build/intermediates/res/merged/release/drawable-xxxhdpi_ic_vehicle.png.flat
/app/build/intermediates/res/merged/release/drawable_circle_image.xml.flat
/app/build/intermediates/res/merged/release/drawable_d_round_green_bkg.xml.flat
/app/build/intermediates/res/merged/release/drawable_ic_save.png.flat
/app/build/intermediates/res/merged/release/drawable_lite_gray_line.xml.flat
/app/build/intermediates/res/merged/release/layout_detailed.xml.flat
/app/build/intermediates/res/merged/release/layout_fragment_login.xml.flat
/app/build/intermediates/res/merged/release/layout_fragment_verify_phone_no.xml.flat
/app/build/intermediates/res/merged/release/layout_item_chat_image_other.xml.flat
/app/build/intermediates/res/merged/release/values-en-rIN_values-en-rIN.arsc.flat
/app/build/intermediates/res/merged/release/values-eu-rES_values-eu-rES.arsc.flat
/app/build/intermediates/res/merged/release/values-ka-rGE_values-ka-rGE.arsc.flat
/app/build/intermediates/res/merged/release/values-lv_values-lv.arsc.flat
/app/build/intermediates/res/merged/release/values-sw660dp-v13_values-sw660dp-v13.arsc.flat
/app/build/intermediates/res/merged/release/values-w600dp-land-v13_values-w600dp-land-v13.arsc.flat
/app/src/main/java/com/celex/rider/AllActivitys/MainActivity.java
/app/src/main/java/com/celex/rider/AllFragments/HomeFragments/Home_F.java
/app/src/main/java/com/celex/rider/DataModels/My_Orders_Model.java
/app/src/main/res/drawable/balck_item.xml
/app/src/main/res/drawable/d_round_corner_colored.xml
/app/src/main/res/drawable/d_rounded_dialog_right.xml
/app/src/main/res/drawable/ic_call.xml
/app/src/main/res/drawable/ic_phone.xml
/app/src/main/res/drawable/ic_save.png
/app/src/main/res/layout/activity_getsignature.xml
/app/src/main/res/layout/fragment_play_audio.xml
/app/src/main/res/layout/item_adapter_layout.xml
/app/src/main/res/layout/item_chat_audio_other.xml
/app/src/main/res/layout/item_upload_document_layout.xml
/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
/app/src/main/res/values/colors.xml
key.txt
key